<div class="sns-content--wide">
  <form method="post" actin="">
    <div class="sns-form">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="data[name]" required="required" id="data-name" />
        <label class="mdl-textfield__label" for="data-name">Collection Name</label>
      </div>
    </div>

    <div class="sns-form-footer">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">
        Save
      </button>
    </div>
  </form>
</div>
