<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#panel-json" class="mdl-tabs__tab is-active">JSON</a>
      <a href="#panel-yaml" class="mdl-tabs__tab">YAML</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="panel-json">
    <div class="sns-form">
      <div class="mdl-textfield mdl-js-textfield sns-field sns-field--wide">
        <label class="mdl-textfield__label">JSON</label>
        <textarea class="mdl-textfield__input" name="data[json]">{$item->toJson()}</textarea>
      </div>
    </div>
    <div class="sns-form-footer">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
       type="submit" name="save-json">Save</button>
    </div>
  </div>

  <div class="mdl-tabs__panel" id="panel-yaml">
    <div class="sns-form">
      <div class="mdl-textfield mdl-js-textfield sns-field sns-field--wide">
        <label class="mdl-textfield__label">YAML</label>
        <textarea class="mdl-textfield__input" name="data[yaml]">{$item->toYaml()}</textarea>
      </div>
    </div>
    <div class="sns-form-footer">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
       type="submit" name="save-yaml">Save</button>
    </div>
  </div>
</div>
