<form method="post" action="">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#panel-json" class="mdl-tabs__tab is-active">JSON</a>
        <a href="#panel-yaml" class="mdl-tabs__tab">YAML</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="panel-json">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sns-textfield--wide">
        <textarea class="mdl-textfield__input" name="data[json]" id="data-json">{$item->toJson()}</textarea>
        <label class="mdl-textfield__label" for="data-json">JSON</label>
      </div>
      <div class="sns-form-footer">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
         type="submit" name="save-json">Save</button>
      </div>
    </div>

    <div class="mdl-tabs__panel" id="panel-yaml">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sns-textfield--wide">
        <textarea class="mdl-textfield__input" name="data[yaml]" id="data-yaml">{$item->toYaml()}</textarea>
        <label class="mdl-textfield__label" for="data-yaml">YAML</label>
      </div>
      <div class="sns-form-footer">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
         type="submit" name="save-yaml">Save</button>
      </div>
    </div>
  </div>
</form>
