<header class="sns-header">
  <div class="sns-content">
    <h2 class="sns-content-title">
      Administration
    </h2>
  </div>
</header>

<section class="sns-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col" id="content">
      <a class="mdl-navigation__link" href="/.sys/db/">
        <i class="material-icons with-text">perm_data_setting</i>DB
      </a>
    </div>
    <div class="mdl-cell mdl-cell--2-col" id="content">
      <a class="mdl-navigation__link" href="/.sys/user/">
        <i class="material-icons with-text">person</i>User
      </a>
    </div>
  </div>
</section>
