.hide {
  display: none !important;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
center-align {
  text-align: center;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.circle {
  border-radius: 50%;
}
.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
