<header class="sns-header">
  <div class="sns-content">
    <h2 class="sns-content-title">
      Sign up
    </h2>
  </div>
</header>

<div class="sns-content">
  <form method="post" action="" autocomplete="off">
    <input type="text" style="display: none;" />
    <input type="password" style="display: none;" />

    <div class="sns-form">
      <div class="mdl-textfield mdl-js-textfield sns-field">
        <label class="mdl-textfield__label">User ID</label>
        <input class="mdl-textfield__input" type="text" name="data[uid]" value="{$item->uid}" required="required" />
      </div>

      <div class="mdl-textfield mdl-js-textfield sns-field">
        <label class="mdl-textfield__label">Name</label>
        <input class="mdl-textfield__input" type="text" name="data[name]" value="{$item->name}" required="required" />
      </div>

      <div class="mdl-textfield mdl-js-textfield sns-field">
        <label class="mdl-textfield__label">Email</label>
        <input class="mdl-textfield__input" type="email" name="data[email]" value="{$item->email}" required="required" />
      </div>

      <div class="mdl-textfield mdl-js-textfield sns-field">
        <label class="mdl-textfield__label">Password</label>
        <input class="mdl-textfield__input" type="password" name="data[inPassword]" required="required" />
      </div>
    </div>

    <div class="sns-form-footer">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">
        Sign up
      </button>
    </div>
  </form>
</div>
