<table class="mdl-data-table mdl-js-data-table">
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">UID</td>
      <td class="mdl-data-table__cell--non-numeric">{$item->uid}</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Name</td>
      <td class="mdl-data-table__cell--non-numeric">{$item->name}</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Email</td>
      <td class="mdl-data-table__cell--non-numeric">{$item->email}</td>
    </tr>
  </tbody>
</table>
