<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" name="data[title]" required="required" id="data-title" value="{$item->title}"/>
  <label class="mdl-textfield__label" for="data-name">Title</label>
</div>

<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label sns-textfield--wide">
  <textarea class="mdl-textfield__input" name="data[body]" required="required" id="data-body">{$item->body}</textarea>
  <label class="mdl-textfield__label" for="data-body">Body</label>
</div>
