<nav class="sns-content-menu">
  @if $this->action === 'index'
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="?do=create">
      <i class="material-icons">add</i>
    </a>
  @elseif $this->action === 'see'
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" href="?do=update">
      <i class="material-icons with-text">edit</i>Edit
    </a>
  @elseif $this->action === 'update'
    <form method="post" action="?do=delete">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"
       onclick="return confirm('mjd ?');">
        <i class="material-icons with-text">delete</i>Drop
      </button>
    </form>
  @end
</nav>
