<header class="sns-header">
  <div class="sns-content">
    @render '_menu'
    <h2 class="sns-content-title">
      {{ preg_replace('/.*\W/', '', get_class(($items ?? $item))) }}
    </h2>
  </div>
</header>

@if $items->size()
<div class="sns-content">
  <form method="post" action="?do=dropAll">
    @render '_items'

    <div class="sns-list-footer">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
        <i class="material-icons with-text">delete</i>
      </button>
      <div class="sns-list-footer--right-section">
        {{= $items->paginate() }}
      </div>
    </div>
  </form>
</div>
@end
