<div class="mdl-layout__header-row">
  <h1 class="mdl-layout-title sns-layout-title">
    <a class="sns-layout-title__link" href="/.sys/db/">
      <i class="material-icons with-text">cloud</i> Localhost
    </a>
  </h1>
  <div class="mdl-layout-spacer"></div>

  <nav class="mdl-navigation">
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" href="?do=create">
      <i class="material-icons with-text">add</i>
    </a>
  </nav>

  <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
    <i class="material-icons">more_vert</i>
  </button>

  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
    <li class="mdl-menu__item">
      <a href="#?do=command">
        <i class="material-icons with-text">videogame_asset</i>Command
      </a>
    </li>
  </ul>
</div>
