<header class="sns-header">
  <div class="sns-content">
    <nav class="sns-content-menu">
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/join">
        Sign up
      </a>
    </nav>
    <h2 class="sns-content-title">
      Sign in
    </h2>
  </div>
</header>

<div class="sns-content">
  <form method="post" action="">
    <div class="sns-form">
      <div class="mdl-textfield mdl-js-textfield sns-field">
        <label class="mdl-textfield__label">User ID</label>
        <input class="mdl-textfield__input" type="text" name="uid" required="required" />
      </div>

      <div class="mdl-textfield mdl-js-textfield sns-field">
        <label class="mdl-textfield__label">Password</label>
        <input class="mdl-textfield__input" type="password" name="password" required="required" />
      </div>
    </div>

    <div class="sns-form-footer">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">
        Sign in
      </button>
    </div>
  </form>
</div>
